@keyframes skeleton-loading {
  0% {
    background-color: rgb(187 187 187);
  }

  100% {
    background-color: rgb(104, 104, 104);
  }
}

.skeleton {
  opacity: 0.9;
  animation: skeleton-loading 1s linear infinite alternate;
}

.regions-stats-loading {
  background-color: #df4682;

  .key {
    width: 50px;
    height: 0.9rem;
    border-radius: 4px;
  }

  .value {
    width: 60px;
    height: 1.1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }

  .title {
    padding: 0.3rem 1rem;
  }
}

.main-stats-loading {
  background-color: #f74e8f;
  padding: 0.75rem 0;
  display: flex;

  & > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.other-stats-loading {
  display: flex;

  & > div {
    padding: 0.75rem 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .key {
    width: 70px;
    height: 1rem;
    border-radius: 4px;
  }

  .value {
    width: 100px;
    height: 1.3rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }

  & > div:first-child {
    background-color: #df4782;
  }

  & > div:last-child {
    background-color: #d6457c;
  }
}

.regions-loading {
  display: flex;
  flex-wrap: wrap;
}

.region-loading {
  width: 50%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df4782;
  position: relative;
  cursor: pointer;

  > svg {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }

  .region-name {
    position: absolute;
    width: 90px;
    height: 1.3rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    bottom: 0.1rem;
    right: 0.3rem;
  }

  &:nth-child(4n-1) {
    background-color: #f74e8f;

    & > figure {
      background-color: #f74e8f;
    }
  }

  &:nth-child(4n-2) {
    background-color: #f74e8f;

    & > figure {
      background-color: #f74e8f;
    }
  }
}
